extends layout

block content
  script(type="text/x-handlebars")
      div.container
        div.content
          div.row
            div.col-lg-12
              div.page-header(style="margin-bottom:0px;")
                h1#navbar(style="font-size:4em;") OpDev
              div.bs-component
                div.navbar.navbar-default
                  div.navbar-header
                    {{#link-to 'index' class='navbar-brand'}}Home{{/link-to}}
                  div.navbar-collapse.collapse.navbar-responsive-collapse
                    ul.nav.navbar-nav
                      li
                        |{{#link-to 'projects'}}Projects{{/link-to}}
                      li
                        |{{#link-to 'sources'}}Sources{{/link-to}}
                      li
                        |{{#link-to 'settings'}}Settings{{/link-to}}
                      li
                        |{{#link-to 'about'}}About Me{{/link-to}}
                    form.navbar-form.navbar-right
                      input.form-control.col-lg-8(type="search", placeholder="Search projects/sources")
              |{{outlet}}
          div.footer
            div.row
              div.col-lg-2
              div.col-lg-10
                p
                  | With love from &nbsp;
                  a(href='http://about.me/prashanthrv', target="_blank") Prashanth R &nbsp;
                  ||&nbsp; Made in India | &nbsp;
                  i.fa.fa-copyright
                  | &nbsp; I have no idea how to get a copyright  | &nbsp;
                  i.fa.fa-mobile
                  | &nbsp; +91-9940115074

  script(type="text/x-handlebars" id="index")
              div.bscomponent
                div.jumbotron
                  h1(style="margin-bottom:30px; margin-top:30px") Welcome to OpDev
                    p(style="font-size:18px;margin-top:40px;")
                      | This is a simple development helper for OpManager for js compression, enabling development mode, compilation of java classes and few other things.
                    p(style="margin-top:40px;")
                      a.btn.btn-primary.btn-lg(href="https://github.com/prashanthrv/OpDev", target="_blank")
                        i.fa.fa-github 
                        | &nbsp; GitHub Link

  script(type="text/x-handlebars" id="projects")
          div.row
            div.col-lg-3
              div.bs-component
                div.list-group
                  |{{#link-to 'projects.index' class='list-group-item'}}
                  i.fa.fa-plus-square
                  | &nbsp; Add new project
                  |{{/link-to}}
                  |{{#each project in model.projects}}
                  |{{#link-to 'projects.project' project class='list-group-item'}}
                  | {{project.name}}
                  |{{/link-to}}
                  |{{/each}}
            div.col-lg-9
              {{outlet 'projectsubpage'}}
  script(type="text/x-handlebars" id="projectdetails")
    div.bscomponent
      div.jumbotron
        |Project Details
  script(type="text/x-handlebars" id="aboutme")
    div.row(style="margin-bottom:100px;")
      div.col-lg-3
        div(id="abtImgBox")
          img(src="images/prashanth.jpg", width="100%")
          div(id="abtName", style="background-color:#303030;")
            |Prashanth RV
      div.col-lg-6
        h2
          |About Me
        br
        h5(style="line-height:20pt;")
          |Hi, I am here to save the world. I know it is a pretty hard job to do. But I am still sticking to it and not gonna give up ever.
          br
          br
          |Technology enthusiast,Web Developer, Open-source supporter, Amatuer artist, Ux Designer, Wanna be CEO, OnePiece fan, Coffee addict, Gadget freak, watches almost everything he likes, brushes twice a day,and an 
          |upcoming billionare.
      div.col-lg-3
        h2
          |Contact Me
        br
        h4(style="line-height:25pt;")
          | Mobile: +91-9940115074
          br
          | Mail  : gameboxin@gmail.com
          br
          | Facebook: 
          a(href="http://www.facebook.com/flameaddict")
            |Prashanth Rajasekar
          br
          | Twitter: 
          a(href="https://twitter.com/pra5hanthR")
            | @pra5hanthR
  script(type="text/x-handlebars" id="addnewproject")
              div.bs-component
                div.jumbotron
                  form.form-horizontal
                    fieldset
                      legend Add new project
                      .form-group
                        label.col-lg-2.control-label(for='inputEmail') Email
                        .col-lg-10
                          input#inputEmail.form-control(type='text', placeholder='Email')
                      .form-group
                        label.col-lg-2.control-label(for='inputPassword') Password
                        .col-lg-10
                          input#inputPassword.form-control(type='password', placeholder='Password')
                          .checkbox
                            label
                              input(type='checkbox')
                              | Checkbox
                      .form-group
                        label.col-lg-2.control-label(for='textArea') Textarea
                        .col-lg-10
                          textarea#textArea.form-control(rows='3')
                          span.help-block
                            | A longer block of help text that breaks onto a new line and may extend beyond one line.
                      .form-group
                        label.col-lg-2.control-label Radios
                        .col-lg-10
                          .radio
                            label
                              input#optionsRadios1(type='radio', name='optionsRadios', value='option1', checked='')
                              | Option one is this
                          .radio
                            label
                              input#optionsRadios2(type='radio', name='optionsRadios', value='option2')
                              | Option two can be something else
                      .form-group
                        label.col-lg-2.control-label(for='select') Selects
                        .col-lg-10
                          select#select.form-control
                            option 1
                            option 2
                            option 3
                            option 4
                            option 5
                          br
                          select.form-control(multiple='')
                            option 1
                            option 2
                            option 3
                            option 4
                            option 5
                      .form-group
                        .col-lg-10.col-lg-offset-2
                          button.btn.btn-default Cancel
                          button.btn.btn-primary(type='submit') Submit