doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src="js/handlebars.js")
    script(src="js/ember.js")
    script(src="js/app.js")
  body
    block content